/* line 1, /Users/conrad/Documents/turing/4module/final-assessment/temp-mid-mod/app/assets/stylesheets/card.scss */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  width: 30%;
  padding: 5px;
}

/* line 8, /Users/conrad/Documents/turing/4module/final-assessment/temp-mid-mod/app/assets/stylesheets/card.scss */
.link-is-read {
  background-color: skyblue;
}

/* line 11, /Users/conrad/Documents/turing/4module/final-assessment/temp-mid-mod/app/assets/stylesheets/card.scss */
img {
  border-radius: 5px 5px 0 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
